@font-face {
	font-family: 'Poppins';
	src: url('@/static/fonts/poppins.thin.ttf') format('ttf');
}

.page {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 0;
}

.page-white {
	background: #FFF;
}

.page-gray {
	background: linear-gradient(180deg, #FFF 0.02%, #DCE2EC 93%);
}

.page-web3 {
	background: linear-gradient(168deg, #310BE8 -0.66%, #0027FE 34.47%, #8200FF 64.87%, #D703FF 100%);
}

.topbar-title {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 90rpx;
	line-height: 90rpx;
	z-index: 2;
	background: #fff;
	backdrop-filter: blur(25rpx);
	color: #000;
	text-align: center;
	font-size: $uni-font-size-lg;
	font-family: Poppins;
	font-weight: 600;
	text-transform: capitalize;

	.skip {
		color: $uni-text-color-inverse;
		font-size: $uni-font-size-sm;
		width: 160rpx;
		height: 60rpx;
		line-height: 60rpx;
		position: absolute;
		right: 32rpx;
		top: 15rpx;
		cursor: pointer;
		border-radius: $uni-border-radius-lg;
		background: var(--CTA, linear-gradient(89deg, #310BE8 3.08%, #0027FE 35.62%, #8200FF 63.79%, #D703FF 96.33%));
	}
}

.box {
	border-radius: $uni-border-radius-base;
	background: linear-gradient(93deg, rgba(255, 255, 255, 0.50) 5.69%, rgba(255, 255, 255, 0.20) 100.63%);
	backdrop-filter: blur(25rpx);
	box-shadow: -6rpx 30rpx 60rpx 0px rgba(215, 3, 255, 0.30);

	.box-head {
		height: 80rpx;
		line-height: 80rpx;
		font-size: $uni-font-size-lg;
		font-weight: bolder;
		text-indent: 40rpx;
		text-align: left;
		color: $uni-text-color-inverse;
		border-bottom: 1rpx solid rgba(255, 255, 255, 0.15);
	}

	.box-body {
		font-size: $uni-font-size-base;
		text-align: left;
		padding: 20rpx 40rpx;
		color: rgba(255, 255, 255, 0.7);

		p {
			padding: 10rpx 0;
		}
	}
}

.card {
	text-align: left;
	color: $uni-text-color-inverse;
	border-radius: $uni-border-radius-base;
	background: linear-gradient(106deg, #310BE8 -12.95%, #0027FE 25.1%, #8200FF 58.04%, #D703FF 96.09%);
}

.menus {
	width: 100%;
	border-radius: $uni-border-radius-base;
	font-size: $uni-font-size-lg;
	margin: 30rpx auto;
	background: $uni-text-color-inverse;
	text-indent: 30rpx;
	
	.li {
		height: 90rpx;
		line-height: 90rpx;
		border-bottom: 1rpx solid $uni-border-color;
		cursor: pointer;
		background: url('@/static/images/icon-right-arrow.png') 96% center no-repeat;
		background-size: 6%;
	}
	
	.li:last-child {
		border-bottom: none;
	}
}
			
.input {
	color: $uni-text-color;
	font-size: $uni-font-size-base;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	height: 90rpx;
	line-height: 90rpx;
	text-align: left;
	padding: 0 30rpx;
	border-radius: $uni-border-radius-lg;
	background: $uni-text-color-grey;
	backdrop-filter: blur(25rpx);
	margin-bottom: 30rpx;
}

.btn {
	height: 100rpx;
	line-height: 100rpx;
	font-size: $uni-font-size-lg;
	color:$uni-text-color-inverse;
	text-align: center;
	border-radius: $uni-border-radius-lg;
	background: #151515;
	box-shadow: 0rpx 30rpx 60rpx -30rpx #000;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 70rpx;
}

.btn-sm {
	width: 80%;
	height: 80rpx;
	line-height: 80rpx;
	font-size: $uni-font-size-base;
	color:$uni-text-color-inverse;
	text-align: center;
	border-radius: $uni-border-radius-lg;
	background: #151515;
	box-shadow: 0rpx 30rpx 60rpx -30rpx #000;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 70rpx;
}


.link {
	color: #778AA6;
	font-family: Poppins;
	font-size: $uni-font-size-lg;
	font-style: normal;
	font-weight: 400;
	height: 40rpx;
	line-height: 40rpx; 
	text-align: center;
	cursor: pointer;
}